.form-inline{:style => "text-align: center;"}
  = form_for(Query.new) do |f|
    = f.text_field :term, size: 50, class: "form-control", placeholder: "Search rubyonrails.org"
    = f.submit "Search", class: "btn btn-primary"
